<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title></title>

    <link rel="stylesheet" href="jquery.mobile-1.3.2.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="jquery-1.10.2.min.js"></script>
    <script src="jquery.mobile-1.3.2.min.js"></script>
    <script src="underscore-min.js"></script>
    <script src="q.min.js"></script>
    <script src="scripts/cxf-utils.js"></script>
    <script src="scripts/mensaParserWs.js"></script>
    <script src="scripts/mensa-logic.js"></script>

    <script type="text/html" id="date-template">
        <div data-role="collapsible" data-collapsed="false">
            <h3><%= title %></h3>

            <div id="<%= contentId %>"></div>
        </div>
    </script>

    <script type="text/html" id="meal-template">
        <div class="meal">
            <h4 class="meal-header"><%= title %></h4>

            <div class="ingredient-host">
                <% _.each(ingredients, function(link) { %>
                    <img class="ingredient" src="<%= link %>"/>
                <% }); %>
            </div>

            <p><%= description %></p>

            <p class="meal-price"><%= prices %></p>
        </div>
    </script>
</head>
<body>
<div>
    <!-- Home -->
    <div data-role="page" id="start">
        <div data-theme="a" data-role="header">
            <h3>
                Mensa-Beispiel
            </h3>

            <div data-role="fieldcontain">
                <select id="location-menu" name="">
                    <option value="NeuesPalais">
                        Neues Palais
                    </option>
                    <option value="Golm">
                        Golm
                    </option>
                    <option value="Griebnitzsee">
                        Griebnitzsee
                    </option>
                </select>
            </div>
        </div>
        <div data-role="content">
            <div data-role="collapsible-set" data-theme="b" data-content-theme="b" id="todaysMenu"></div>
        </div>
    </div>
</div>
</body>
</html>
